html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  position: relative;
  margin: 0;
  padding: 0; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #292929;
  overflow-x: hidden; }

button {
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 400; }

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 83px;
  position: relative; }

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: 'RUBSN';
  src: url("../fonts/RUBSN.woff2") format("woff2"), url("../fonts/RUBSN.woff") format("woff");
  font-weight: 400;
  font-display: swap; }

#layer {
  position: absolute;
  width: 100%; }
  #layer.active {
    background-color: #000000;
    opacity: .65;
    z-index: 100;
    top: 161px;
    bottom: 0;
    height: 4000px;
    transition: background-color 1s;
    transition-delay: .2s; }

.header__top {
  padding: 16px 0px;
  border-bottom: 1px solid #F9F9F9;
  display: flex;
  align-items: center; }

.header__logo {
  margin-right: 40px; }

.header__burger {
  cursor: pointer;
  display: none;
  position: relative;
  width: 24px;
  padding: 7px 0;
  transition: all .3s; }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    width: 24px;
    min-height: 3px;
    background-color: #333333;
    left: 0;
    transition: all .3s; }
  .header__burger::after {
    top: 0px; }
  .header__burger::before {
    bottom: 0px; }
  .header__burger--active::before {
    transform: rotate(45deg);
    bottom: 7px; }
  .header__burger--active::after {
    transform: rotate(-45deg);
    top: 7px; }
  .header__burger--active .header__burger-line {
    opacity: 0; }

.header__burger-line {
  width: 24px;
  height: 3px;
  background-color: #333333; }

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 456px;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.header__top-item {
  position: relative; }

.header__top-list {
  position: absolute;
  left: 0;
  top: 40px;
  width: 200px;
  height: 0;
  overflow: hidden;
  padding: 0px 15px;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  z-index: 10000;
  transition: all .3s; }
  .header__top-list li {
    font-size: 14px;
    line-height: 17px;
    padding: 5px 0; }
  .header__top-list li a {
    color: #989898;
    text-decoration: none;
    transition: all .3s; }
    .header__top-list li a:hover {
      color: #F99F1B; }

.header__top-item:hover .header__top-link {
  color: #F99F1B; }

.header__top-item:hover .header__top-link svg {
  transform: rotate(180deg); }

.header__top-item:hover .header__top-link svg path {
  transition: all .3s;
  fill: #F99F1B; }

.header__top-item:hover .header__top-list {
  height: 206px;
  padding: 10px 15px; }

.header__top-link {
  color: #989898;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  transition: all .3s;
  padding: 16px 0;
  display: flex;
  align-items: center; }
  .header__top-link svg {
    margin-left: 10px;
    transition: all .3s; }

.header__form {
  position: relative;
  margin-left: auto;
  margin-right: 32px; }

.header__input {
  outline: none;
  border: 1px solid #E9E9E9;
  background-color: transparent;
  width: 246px;
  height: 32px;
  padding-left: 16px;
  color: #292929; }
  .header__input::placeholder {
    color: #B3B3B3;
    font-size: 14px;
    line-height: 17px; }

.header__search-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer; }
  .header__search-btn:hover svg path {
    fill: #F99F1B;
    transition: all .3s; }

.header__icons {
  display: flex; }

.header__location, .header__user {
  padding: 0 10px;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  cursor: pointer; }
  .header__location:hover svg path, .header__user:hover svg path {
    transition: all .3s;
    fill: #F99F1B; }

.header__location {
  margin-right: 20px; }

.header__menu {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__link {
  color: #292929;
  text-decoration: none;
  display: inline-block;
  padding: 25px 0 30px;
  transition: all .3s;
  position: relative; }
  .header__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0;
    height: 2px;
    background-color: #F99F1B;
    transition: all .3s; }

.header__item:hover .header__hover {
  max-width: 1366px;
  width: 100%;
  padding: 25px 107px 30px 135px;
  left: 83px;
  opacity: 1; }

.header__item:hover .header__link::before {
  width: calc(100% + 20px); }

.header__hover {
  z-index: 200;
  position: absolute;
  width: 0;
  overflow: hidden;
  margin: 0 -83px;
  background-color: #fff;
  border-top: 1px solid #F6F6F6;
  display: flex;
  left: 0px;
  right: 83px;
  transition-property: opacity, left;
  transition-duration: .0s, .5s;
  transition-delay: .15s;
  opacity: 0; }

.header__bottom-list {
  max-width: 233px;
  width: 100%; }
  .header__bottom-list + .header__bottom-list {
    margin-left: 82px;
    margin-right: 85px; }

.header__bottom-item {
  margin-top: 20px; }

.header__bottom-item a {
  color: #292929;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  transition: all .3s; }
  .header__bottom-item a:hover {
    color: #F99F1B; }

.header__hover-info {
  padding-left: 68px;
  padding-bottom: 58px;
  border-left: 1px solid #E9E9E9; }

.header__hover-title {
  margin-bottom: 6px; }

.header__hover-text {
  font-size: 14px;
  line-height: 22px;
  color: #989898;
  max-width: 262px;
  width: 100%; }

.header__btn {
  display: inline-block;
  margin-top: 26px;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #292929;
  padding: 7px 19px 9px 14px;
  border: 1px solid #C6E2F7;
  transition: all .3s; }
  .header__btn svg {
    margin-left: 32px; }
  .header__btn--2 {
    margin-top: 45px; }
  .header__btn:hover {
    border-color: #F99F1B;
    background-color: #F99F1B;
    color: #ffffff; }
    .header__btn:hover svg path {
      fill: #ffffff;
      transition: all .3s; }

.main-screen__inner {
  position: relative; }

.main-screen__slide {
  text-decoration: none;
  outline: none; }

.main-screen__item {
  padding-top: 80px;
  padding-bottom: 50px;
  position: relative; }

.main-screen__img {
  position: absolute;
  left: 60px;
  width: 409px;
  height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -530px;
  background-image: url(../images/main-screen-1-1.png); }

.main-screen__layer {
  position: absolute;
  background-color: #0077B2;
  opacity: .4;
  width: 409px;
  height: 560px; }

.main-screen__info {
  background-color: #E5F7FF;
  padding-left: 540px;
  padding-top: 35px;
  padding-bottom: 165px;
  margin-top: 20px; }

.main-screen__title {
  font-size: 56px;
  line-height: 60px;
  color: #333333;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-weight: 500;
  max-width: 430px;
  margin-bottom: 24px; }

.main-screen__text {
  font-size: 18px;
  color: #333333;
  line-height: 32px;
  margin-top: 16px; }

.main-screen__arrow {
  border: none;
  box-shadow: none;
  background-color: transparent;
  position: absolute;
  top: 335px;
  outline: none;
  cursor: pointer; }
  .main-screen__arrow--left {
    left: -32px; }
  .main-screen__arrow--right {
    right: -32px; }

.main-screen__social {
  position: absolute;
  right: 0;
  bottom: -15px;
  display: flex;
  justify-content: space-between;
  width: 120px; }
  .main-screen__social a svg:hover path {
    fill: #F99F1B;
    transition: all .3s; }

.products {
  margin-top: 125px;
  padding-bottom: 60px;
  margin-bottom: 100px; }
  .products__title {
    font-size: 56px;
    line-height: 64px;
    color: #333333;
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
    margin-bottom: 70px; }
  .products__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .products__wrapper {
    min-height: 842px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end; }
  .products__item {
    width: 592px;
    padding: 0px 30px 0px 40px;
    cursor: pointer;
    height: 48px; }
    .products__item--big {
      height: 96px; }
    .products__item--active {
      background-image: url(../images/products-item-bg.svg);
      background-repeat: no-repeat;
      padding: 0px 30px 0px 40px;
      margin-top: 0;
      height: 495px;
      transition: height .5s; }
      .products__item--active .products__item-title {
        color: #ffffff;
        opacity: 1;
        padding-top: 75px;
        padding-bottom: 32px; }
      .products__item--active .products__item-text,
      .products__item--active .products__item-link {
        display: inline-block; }
      .products__item--active > svg {
        transform: rotate(180deg); }
      .products__item--active > svg > path {
        fill: #ffffff; }
      .products__item--active.products__item--big .products__item-text {
        padding-bottom: 65px; }
    .products__item + .products__item {
      margin-top: 50px; }
  .products__preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 527px;
    width: 100%; }
  .products__item-icon {
    display: none; }
  .products__item-title {
    font-size: 36px;
    line-height: 48px;
    color: #0077B2;
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
    opacity: .5; }
  .products__item-text {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    display: none;
    padding-bottom: 94px; }
  .products__item-link {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
    margin-left: auto;
    display: none;
    transition: all .3s;
    padding: 35px 0 35px;
    margin-bottom: 78px; }
    .products__item-link:hover {
      color: #F99F1B; }

.catalog {
  background-image: url(../images/catalog-bg.svg);
  background-repeat: no-repeat;
  background-size: cover; }
  .catalog__inner {
    padding: 177px 0 111px; }
  .catalog__title {
    font-family: 'HelveticaNeue-Bold', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #2996CC;
    margin-bottom: 80px; }
  .catalog__slider {
    padding-bottom: 85px; }
  .catalog__phone-list {
    display: none; }
  .catalog__slide {
    outline: none; }
  .catalog__items {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .catalog__item {
    outline: none;
    max-width: 490px;
    width: 100%;
    color: #ffffff;
    margin-right: 230px;
    display: inline-block;
    text-decoration: none;
    margin-left: 15px; }
    .catalog__item:hover .catalog__info,
    .catalog__item:hover .catalog__btn {
      transition: all .3s;
      box-shadow: 0px 11px 14px #00496D; }
    .catalog__item:hover .catalog__available {
      transition: all .3s;
      opacity: 1; }
  .catalog__info {
    background-image: url(../images/catalog-item-bg.png);
    background-repeat: no-repeat;
    background-size: 135%;
    background-position: center;
    padding: 37px 53px 117px;
    width: 100%;
    position: relative; }
    .catalog__info--available {
      padding-bottom: 70px; }
  .catalog__item-title {
    max-width: 265px;
    width: 100%;
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 32.5px; }
  .catalog__item-price {
    font-size: 36px;
    font-family: 'HelveticaNeue-Thin', sans-serif;
    font-weight: 300;
    margin-bottom: 25px; }
    .catalog__item-price span {
      font-family: 'RUBSN', sans-serif;
      font-weight: 400; }
  .catalog__available {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    padding: 11px 37px 15px;
    height: 47px;
    overflow: hidden;
    background-color: #F99F1B;
    opacity: 0; }
  .catalog__btn {
    width: 100%;
    background-color: #fff;
    box-shadow: none;
    border: none;
    padding: 25px 25px 26px;
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-top: 25px;
    margin-bottom: 25px; }
    .catalog__btn svg {
      position: absolute;
      right: 23px;
      top: 25px; }
  .catalog .slick-list {
    overflow: visible; }
  .catalog .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .catalog .slick-dots li button::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #2996CC; }
  .catalog .slick-dots .slick-active button::before {
    background-color: #fff; }
  .catalog .slick-dots li.slick-active button:before {
    opacity: 1; }
  .catalog .slick-dots li:hover button::before {
    transition: all ease .3s; }
  .catalog__all-link {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    display: block;
    width: 172px;
    margin-left: auto;
    margin-top: 80px;
    transition: all .3s; }
    .catalog__all-link svg {
      margin-bottom: -5px;
      margin-left: 16px; }
    .catalog__all-link:hover {
      color: #F99F1B; }
      .catalog__all-link:hover svg path {
        fill: #F99F1B;
        transition: all .3s; }

.request {
  background-image: url(../images/request-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 80px;
  color: #ffffff; }
  .request__title {
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .request__title span {
      max-width: 630px; }
  .request__text {
    font-size: 18px;
    line-height: 28px;
    max-width: 555px;
    width: 100%;
    margin: 25px 0 50px; }
  .request__btn {
    border: none;
    box-shadow: none;
    background-color: #F99F1B;
    border: 1px solid #F99F1B;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    padding: 12px 15px 15px;
    cursor: pointer;
    transition: all .3s; }
    .request__btn svg {
      margin-left: 60px; }
    .request__btn:hover {
      background-color: transparent;
      border-color: #ffffff; }

.offers {
  margin-top: 175px;
  margin-bottom: 100px; }
  .offers__inner {
    display: flex; }
  .offers__item {
    padding: 30px 17px 67px 28px;
    width: 33.3%;
    text-decoration: none;
    transition-property: margin, box-shadow;
    transition-duration: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 496px;
    border-left: 2px solid #E9E9E9;
    border-collapse: collapse;
    background-color: #fff; }
    .offers__item:hover {
      margin-top: -15px;
      margin-bottom: 15px;
      box-shadow: 0px 12px 34px rgba(0, 52, 156, 0.254972);
      border: none; }
      .offers__item:hover .offers__text {
        color: #333333;
        transition: all .3s; }
      .offers__item:hover .offers__mini-title {
        color: #F99F1B; }
      .offers__item:hover .offers__price {
        color: #F99F1B; }
    .offers__item:nth-last-child(1) {
      border-right: 2px solid #E9E9E9; }
      .offers__item:nth-last-child(1):hover {
        border-right-width: 1px; }
  .offers__title {
    font-size: 36px;
    line-height: 40px;
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
    color: #333333;
    height: 96px;
    display: flex;
    align-items: center; }
  .offers__text {
    font-size: 18px;
    line-height: 28px;
    color: #9A9A9A; }
  .offers__mini-title {
    margin-top: auto;
    font-size: 18px;
    color: rgba(0, 119, 178, 0.5);
    transition: all .3s; }
  .offers__price {
    font-size: 36px;
    line-height: 40px;
    color: rgba(0, 119, 178, 0.5);
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
    transition: all .3s; }

.news {
  margin-bottom: 90px; }
  .news__title {
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;
    color: #333333;
    margin-bottom: 65px; }
  .news__wrapper {
    display: flex;
    justify-content: space-between; }
  .news__item {
    max-width: 254px;
    width: 100%;
    padding-bottom: 18px;
    text-decoration: none;
    transition: all .3s; }
    .news__item:hover {
      margin-top: -15px;
      margin-bottom: 15px;
      box-shadow: 0px 12px 34px rgba(0, 52, 156, 0.254972); }
      .news__item:hover .news__date {
        color: #F99F1B; }
    .news__item + .news__item {
      margin-left: 5px; }
  .news__img {
    background-image: url(../images/news-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 140px; }
  .news__text {
    font-size: 18px;
    line-height: 28px;
    color: #545454;
    margin: 15px 16px 0; }
  .news__date {
    margin: 0 16px;
    font-size: 14px;
    line-height: 17px;
    color: #989898;
    margin-top: 45px;
    transition: all .3s; }
  .news__all {
    display: block;
    margin-top: 90px;
    max-width: 122px;
    margin-left: auto;
    text-decoration: none;
    color: #F99F1B;
    transition: all .3s; }
    .news__all svg {
      margin-left: 15px;
      margin-bottom: -3px; }

.footer {
  background-color: #292929; }
  .footer__top {
    display: flex;
    padding-top: 70px;
    padding-bottom: 75px;
    border-bottom: 2px solid rgba(76, 76, 76, 0.15); }
  .footer__contacts {
    margin-right: 160px; }
  .footer__phone {
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #F99F1B;
    text-decoration: none;
    margin-bottom: 15px; }
  .footer__city {
    font-size: 18px;
    line-height: 21px;
    color: #6F6F6F; }
  .footer__menu {
    margin-right: 100px; }
  .footer__item + .footer__item {
    margin-top: 15px; }
  .footer__link {
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
    color: #989898;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    transition: all .3s; }
    .footer__link:hover {
      color: #F99F1B; }
  .footer__bottom {
    padding: 60px 50px 70px 0;
    display: flex;
    margin-top: 15px; }
  .footer__copy {
    max-width: 255px;
    width: 100%;
    margin-right: auto; }
    .footer__copy img {
      margin-bottom: 5px; }
    .footer__copy span {
      margin-top: 15px;
      display: inline-block;
      font-size: 18px;
      line-height: 21px;
      color: #6F6F6F; }
  .footer__form {
    display: none;
    position: relative;
    margin: 44px 0 42px; }
  .footer__input {
    width: 100%;
    height: 40px;
    border: 1px solid #F99F1B;
    background-color: transparent;
    outline: none;
    padding-left: 15px;
    padding-right: 50px;
    padding-top: 9px;
    padding-bottom: 12px;
    color: #F99F1B;
    font-size: 16px; }
    .footer__input::placeholder {
      font-family: 'HelveticaNeue', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #6F6F6F; }
  .footer__btn {
    position: absolute;
    right: 16px;
    top: 11px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0; }
  .footer__help {
    margin-right: 95px; }
  .footer__help-item + .footer__help-item {
    margin-top: 15px; }
  .footer__help-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #6F6F6F;
    transition: all .3s; }
    .footer__help-link:hover {
      color: #F99F1B; }
  .footer__social-title {
    font-size: 18px;
    line-height: 21px;
    color: #6F6F6F;
    margin-bottom: 20px; }
  .footer__social-icons {
    display: flex;
    justify-content: space-between;
    max-width: 108px;
    width: 100%; }
    .footer__social-icons svg:hover path {
      fill: #F99F1B;
      transition: all .3s; }

@media (max-width: 1200px) {
  .products__inner {
    justify-content: flex-start; }
  .products__img {
    display: none; }
  .products__title {
    padding-left: 40px; } }

@media (max-width: 1100px) {
  .header {
    box-shadow: 0px 2px 4px rgba(0, 52, 156, 0.25); }
    .header__list, .header__form, .header__icons, .header__menu {
      display: none; }
    .header__burger {
      display: block; }
    .header__top {
      justify-content: space-between; }
  .main-screen__inner {
    margin-left: -15px;
    margin-right: -15px; }
  .main-screen__info {
    box-shadow: 0px 5px 14px rgba(0, 52, 156, 0.25);
    background-color: #ffffff;
    color: #545454;
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px 15px 40px 280px; }
  .main-screen__arrow {
    top: 222px; }
  .main-screen__img {
    left: 0px;
    width: 272px;
    height: 296px;
    top: 52px;
    background-size: 330%;
    background-position-x: -216px;
    background-position-y: -118px; }
  .main-screen__layer {
    width: 272px;
    height: 296px; }
  .main-screen__title {
    font-size: 36px;
    line-height: 45px; }
  .main-screen__social {
    right: 15px; }
  .request {
    display: none; }
  .footer__contacts, .footer__menu, .footer__help, .footer__copy {
    margin-right: 40px; } }

@media (max-width: 1000px) {
  .offers {
    margin-top: 50px;
    margin-bottom: 0px;
    overflow: hidden;
    height: 390px; }
    .offers .container {
      padding-right: 0; }
    .offers__inner {
      padding-top: 35px;
      overflow-x: auto;
      overflow-y: hidden;
      height: 410px;
      margin-left: -15px; }
    .offers__item {
      width: 256px;
      min-width: 256px;
      height: 324px;
      padding: 23px 23px 40px;
      border: none;
      margin-left: 15px; }
      .offers__item:nth-last-child(1) {
        border: none; }
      .offers__item:nth-child(1) {
        margin-top: -15px;
        margin-bottom: 15px;
        box-shadow: 0px 12px 34px rgba(0, 52, 156, 0.254972); }
        .offers__item:nth-child(1) .offers__mini-title {
          color: #F99F1B; }
        .offers__item:nth-child(1) .offers__price {
          color: #F99F1B; }
    .offers__title {
      height: auto;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 15px; }
    .offers__text {
      font-size: 16px;
      line-height: 24px; }
    .offers__mini-title {
      font-size: 16px;
      line-height: 24px; }
    .offers__price {
      font-size: 32px;
      line-height: 39px; }
      .offers__price > div {
        display: none; }
  .news__wrapper {
    justify-content: flex-start; }
  .news__title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 25px; }
  .news__item {
    display: flex;
    max-width: 330px;
    padding: 0; }
    .news__item:nth-child(3), .news__item:nth-child(4) {
      display: none; }
    .news__item + .news__item {
      margin-left: 15px; }
    .news__item:hover {
      margin-top: 0;
      margin-bottom: 0;
      box-shadow: none; }
  .news__img {
    max-width: 72px;
    width: 100%;
    height: 80px;
    background-size: 240%; }
  .news__info {
    display: flex;
    flex-direction: column-reverse; }
  .news__date {
    font-size: 16px;
    line-height: 16px;
    margin-top: 0; }
  .news__text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500; }
  .news__all {
    margin-top: 30px; } }

@media (max-width: 850px) {
  .container {
    padding: 0 15px; }
  .main-screen__title {
    font-size: 24px;
    line-height: 30px;
    max-width: 100%; }
  .main-screen__text {
    font-size: 16px;
    line-height: 24px; }
  .main-screen__social {
    display: none; }
  .main-screen__arrow {
    top: 67px;
    padding: 0; }
    .main-screen__arrow--left {
      right: 57px;
      left: auto; }
    .main-screen__arrow--right {
      right: 15px; }
  .products__title {
    font-size: 48px;
    line-height: 54px; }
  .news {
    margin-bottom: 56px; }
    .news__wrapper {
      flex-direction: column; }
    .news__item + .news__item {
      margin-left: 0;
      margin-top: 25px; }
  .footer__contacts, .footer__menu, .footer__help, .footer__copy {
    margin-right: 20px; } }

@media (max-width: 650px) {
  .products {
    padding: 0;
    margin: 0; }
    .products__title {
      padding-left: 0;
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 30px; }
    .products__inner {
      background-color: #0077B2;
      margin-left: -15px;
      margin-right: -15px; }
    .products__wrapper {
      min-height: auto;
      height: 498px; }
    .products__item {
      background-image: none;
      padding: 0 15px;
      background-color: #0077B2;
      border-top: 1px solid #33BBFF;
      height: 56px;
      width: 100%;
      overflow: hidden; }
      .products__item + .products__item {
        margin-top: 0; }
      .products__item:nth-child(4) {
        border-bottom: 1px solid #33BBFF; }
    .products__preview {
      max-width: 100%;
      margin-top: 15px; }
      .products__preview > svg {
        transform: rotate(180deg);
        width: 10px;
        height: 6px; }
      .products__preview > svg > path {
        fill: #ffffff; }
    .products__item-icon {
      display: block; }
    .products__item-title {
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
      opacity: 1;
      padding-top: 0;
      padding-bottom: 0; }
    .products__item-text {
      font-size: 16px;
      line-height: 21px;
      padding-bottom: 0; }
    .products__item-link {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 0;
      padding: 0;
      width: 102px;
      margin: 20px;
      margin-left: auto;
      display: none !important;
      position: relative; }
      .products__item-link::after {
        content: "";
        position: absolute;
        right: 0px;
        top: 7px;
        width: 6px;
        height: 10px;
        background-image: url(../images/products-link-phone-arrow.svg); }
      .products__item-link:hover {
        color: #ffffff; }
    .products__item--active {
      text-align: center;
      height: 330px;
      background-color: #0080Bf; }
      .products__item--active .products__item-title {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%; }
      .products__item--active.products__item--big .products__item-text {
        padding-bottom: 0px !important; }
      .products__item--active .products__item-link {
        display: flex !important; }
      .products__item--active .products__preview {
        flex-wrap: wrap;
        justify-content: center; }
      .products__item--active .products__item-icon {
        margin-top: 15px; }
      .products__item--active .products__preview > svg {
        display: none; }
      .products__item--active .products__item-icon {
        transform: scale(1.5); }
  .catalog {
    background-image: none;
    background-color: #0077B2; }
    .catalog__inner {
      padding-top: 65px;
      padding-bottom: 50px; }
    .catalog__title {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 50px; }
    .catalog__slider {
      display: none; }
    .catalog__phone-list {
      display: block; }
    .catalog__item {
      max-width: 100%;
      margin: 0; }
    .catalog__info {
      height: 150px;
      background-size: 100%;
      padding: 0; }
    .catalog__item-title {
      font-size: 24px;
      line-height: 30px;
      max-width: 180px;
      width: 100%;
      position: absolute;
      right: 10px;
      top: -17px; }
    .catalog__item-price {
      font-size: 16px;
      line-height: 21px;
      display: inline-block;
      position: absolute;
      top: 55px;
      right: 35px; }
    .catalog__available {
      position: absolute;
      top: 91px;
      right: 27px;
      font-size: 16px;
      line-height: 19px;
      padding: 5px 22px 8px;
      height: auto;
      opacity: 1; }
    .catalog__btn {
      font-size: 16px;
      line-height: 19px;
      padding: 9px 23px 13px; }
      .catalog__btn svg {
        width: 6px;
        height: 10px;
        top: 15px; }
    .catalog__all-link {
      margin-top: 30px;
      font-size: 16px;
      line-height: 19px;
      width: 122px; }
      .catalog__all-link svg {
        width: 6px;
        height: 10px;
        margin-bottom: -1px;
        margin-left: 10px; }
  .footer__inner {
    padding-top: 30px;
    padding-bottom: 56px; }
  .footer__top {
    flex-direction: column;
    border: none;
    padding: 0; }
  .footer__contacts {
    margin-bottom: 35px; }
  .footer__phone {
    font-size: 24px;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 8px; }
  .footer__city {
    font-size: 16px;
    line-height: 19px; }
  .footer__menu:nth-child(2) {
    display: none; }
  .footer__link, .footer__help-link {
    color: #6F6F6F;
    font-size: 16px;
    line-height: 24px;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 400; }
  .footer__form {
    display: block; }
  .footer__bottom {
    flex-direction: column-reverse;
    padding: 0; }
  .footer__social {
    display: none; }
  .footer__copy {
    display: flex;
    align-items: center;
    max-width: 100%; }
    .footer__copy > div {
      display: flex;
      flex-direction: column; }
    .footer__copy img {
      margin-bottom: 0;
      width: 64px;
      height: 48px; }
    .footer__copy span {
      margin-top: 0;
      font-size: 14px;
      line-height: 14px;
      margin-left: 20px; }
      .footer__copy span:nth-child(1) {
        margin-bottom: 14px; }
  .news__title {
    font-size: 24px;
    line-height: 29px; } }

@media (max-width: 600px) {
  .header__logo {
    width: 89px; }
  .main-screen__info {
    padding-top: 280px;
    padding-left: 15px; }
  .main-screen__text {
    margin-top: 6px; }
  .main-screen__item {
    padding-top: 40px; }
  .main-screen__arrow {
    top: 37px; }
  .main-screen__img {
    top: 22px; } }

@media (max-width: 450px) {
  .products__title {
    font-size: 24px;
    line-height: 24px; }
  .products__item-title, .products__item-link, .products__item-text {
    font-size: 16px;
    line-height: 24px; } }
