@font-face {
	font-family: 'HelveticaNeue-Thin';
	src: 	url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
				url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: 	url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
				url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue-Medium';
	src: 	url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
				url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: 	url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
				url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'RUBSN';
	src: 	url('../fonts/RUBSN.woff2') format('woff2'),
				url('../fonts/RUBSN.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}